body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 160px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
}
.half-width img{
    width: 100%;
    padding-right: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, purple);
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70px;
}
